.button {
  cursor: pointer;
  border: none;
  font-size: 1.7rem;
  color: white;
  background-color: #A13333;
  padding: 1.5rem, 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
}

.button:hover,
.button:active {
  background-color: #040303;
}

.bounce {
  animation: bounce 0.3s ease 1;
}

@keyframes bounce {
    0% { transform:translateY(0%); }
    10% { transform:translateY(-20%); }
    20% { transform:translateY(0%); }
    25% { transform:translateY(-10%); }
    27% { transform:translateY(0%); }
    29% { transform:translateY(-5%); }
    100% { transform:translateY(0); }
}

.icon img{
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.2rem 0.5rem;
}

.badge {
  background-color: #4d1601;
  font-size: 1.5rem;
  margin-left: 1rem;
  padding: 0.2rem 1.5rem;
  border-radius: 20px;
  font-weight: bold;
}