.form {
  text-align: center;
}

.form button {
  cursor: pointer;
  margin: 0.8rem auto;
  background-color: #461111;
  border: 1px solid #461111;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #A13333;
  border-color: #A13333;
}